body {
  margin: 0px;
}

/* p {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: coral;
}

b {
    display: block;
    height: 100px;
    text-align: center;
} */

.flex > div {
  width: 200px;

  background-color: lightsalmon;
  font-size: 50px;
  color: aliceblue;
}
.flex > div:nth-child(2n) {
  background-color: lawngreen;
  align-self: center;
}
.flex {
  display: flex;
  height: 100vh;
  padding: 10px;
  background-color: lightyellow;
  border: 1px solid black;
  flex-direction: row;
  /* flex-wrap: wrap-reverse; */
  justify-content: space-evenly;
  /* align-items: center; */
}
