/* p {
    color: blue;
} */
/* #Para1 {
    color: burlywood;
} */

/* .para {
    background-color: cornsilk;
}

.para2 {
    color: crimson;
} */


input[type="text"] {
    background-color: crimson;
}